# Ignore everything.  We'll whitelist what we want to pull in.
/*
/*/

!.gitignore
!.gitattributes
!README.md

# Whitelisted directories/files
!/greedy_game/ProjectSettings/
!/greedy_game/Assets/                # Add Assets folder
/greedy_game/Library/ 